@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Light theme */
	:root {
		--bgMain: hsl(240, 27%, 98%);
		--bgHeader: hsl(231, 20%, 27%);
		--bgInvoiceItem: hsl(0, 0%, 100%);
		--bgInvoiceItemShadow: hsla(231, 38%, 45%, 10%);
		--bgView: hsl(0, 0%, 100%);
		--bgViewShadow: hsla(231, 38%, 45%, 10%);
		--bgViewSummary: hsl(231, 67%, 99%);
		--bgViewSummaryFooter: hsl(231, 20%, 27%);
		--bgEdit: hsl(0, 0%, 100%);
		--bgForm: hsl(0, 0%, 100%);
		--bgFormScroll: hsl(231, 75%, 93%);
		--bgInput: hsl(0, 0%, 100%);
		--bgInputBorder: hsl(231, 75%, 93%);
		--bgSelectBg: hsl(0, 0%, 100%);
		--bgSelectShadow: hsla(231, 38%, 45%, 25%);
		--bgSelectBorder: hsl(231, 75%, 93%);
		--bgFilter: hsl(0, 0%, 100%);
		--bgFilterBox: hsl(231, 73%, 93%);
		--FilterShadow: rgba(72, 84, 159, 25%);
		--bgModal: hsl(0, 0%, 100%);

		/* Typography */
		--textPrimary: hsl(231, 28%, 7%);
		--textSecondary: hsl(231, 36%, 63%);
		--textTertiary: hsl(231, 20%, 61%);

		/* Statuses */
		--statusPaid: hsl(160, 67%, 52%);
		--statusPaidBg: hsla(160, 67%, 52%, 5.71%);
		--statusPending: hsl(34, 100%, 50%);
		--statusPendingBg: hsla(34, 100%, 50%, 5.71%);
		--statusDraft: hsl(231, 20%, 27%);
		--statusDraftBg: hsla(231, 20%, 27%, 5.71%);

		/* Buttons */
		--btnPrimary: hsl(252, 94%, 67%);
		--btnPrimaryHover: hsl(252, 100%, 73%);
		--btnSecondary: hsl(231, 67%, 99%);
		--btnSecondaryHover: hsl(231, 73%, 93%);
		--btnSave: hsl(231, 20%, 27%);
		--btnSaveHover: hsl(231, 28%, 7%);
		--btnDelete: hsl(0, 80%, 63%);
		--btnDeleteHover: hsl(0, 100%, 80%);
		--btnNewItem: hsl(231, 67%, 99%);
		--btnNewItemHover: hsl(231, 73%, 93%);
		--btnTheme: hsl(231, 36%, 63%);
		--btnThemeHover: hsl(231, 75%, 93%);
	}

	/* Dark theme */
	.dark {
		--bgMain: hsl(231, 30%, 11%);
		--bgHeader: hsl(233, 31%, 17%);
		--bgInvoiceItem: hsl(233, 31%, 17%);
		--bgInvoiceItemShadow: hsla(231, 38%, 45%, 10%);
		--bgView: hsl(231, 31%, 17%);
		--bgViewShadow: hsla(231, 38%, 45%, 10%);
		--bgViewSummary: hsl(233, 30%, 21%);
		--bgViewSummaryFooter: hsl(231, 28%, 7%);
		--bgEdit: hsl(233, 30%, 11%);
		--bgForm: hsl(231, 30%, 11%);
		--bgFormScroll: hsl(233, 30%, 21%);
		--bgInput: hsl(233, 31%, 17%);
		--bgInputBorder: hsl(233, 30%, 21%);
		--bgSelectBg: hsl(233, 30%, 21%);
		--bgSelectShadow: hsla(0, 0%, 0%, 25%);
		--bgSelectBorder: hsl(233, 31%, 17%);
		--bgFilter: hsl(233, 30%, 21%);
		--bgFilterBox: hsl(233, 31%, 17%);
		--FilterShadow: rgba(0, 0, 0, 25%);
		--bgModal: hsl(233, 31%, 17%);

		/* Typography */
		--textPrimary: hsl(0, 0%, 100%);
		--textSecondary: hsl(231, 75%, 93%);
		--textTertiary: hsl(231, 75%, 93%);

		/* Statuses */
		--statusPaid: hsl(160, 67%, 52%);
		--statusPaidBg: hsla(160, 67%, 52%, 5.71%);
		--statusPending: hsl(34, 100%, 50%);
		--statusPendingBg: hsla(34, 100%, 50%, 5.71%);
		--statusDraft: hsl(231, 75%, 93%);
		--statusDraftBg: hsla(231, 75%, 93%, 5.71%);

		/* Buttons */
		--btnPrimary: hsl(252, 94%, 67%);
		--btnPrimaryHover: hsl(252, 100%, 73%);
		--btnSecondary: hsl(233, 30%, 21%);
		--btnSecondaryHover: hsl(233, 30%, 15%);
		--btnSave: hsl(231, 20%, 27%);
		--btnSaveHover: hsl(233, 31%, 17%);
		--btnDelete: hsl(0, 80%, 63%);
		--btnDeleteHover: hsl(0, 100%, 80%);
		--btnNewItem: hsl(231, 67%, 99%);
		--btnNewItemHover: hsl(231, 73%, 93%);
		--btnTheme: hsl(232, 23%, 61%);
		--btnThemeHover: hsl(231, 75%, 93%);
	}

	.invoice-input {
		@apply w-full h-12 px-5 pt-[18px] pb-[15px] bg-bgInput border border-bgInputBorder 
		text-heading-s text-textPrimary rounded outline-none focus:border-purple
		transition-all duration-300 ease-in-out;
	}

	.small-fieldset-container {
		@apply flex flex-col gap-2.5;
	}

	.medium-fieldset-container {
		@apply flex flex-col gap-6;
	}

	.large-fieldset-container {
		@apply flex flex-col gap-12;
	}
	.button {
		@apply h-12 px-6 rounded-full z-10 grid place-items-center text-textSecondary transition-colors duration-300 text-heading-s transition-all;
	}

	.button:disabled {
		@apply brightness-50;
		pointer-events: none; 
	}

	.button:disabled:hover {
		@apply brightness-50; 
	}

	.button-auth {
		@apply button rounded-md w-max flex gap-4 items-center bg-btnSecondary hover:bg-btnSecondaryHover text-textTertiary;
	}

	.button-primary {
		@apply button bg-btnPrimary hover:bg-btnPrimaryHover text-white;
	}

	.button-secondary {
		@apply button bg-btnSecondary hover:bg-btnSecondaryHover text-textTertiary;
	}

	.button-tertiary {
		@apply button bg-btnSave hover:bg-btnSaveHover text-textTertiary;
	}

	.button-danger {
		@apply button bg-btnDelete hover:bg-btnDeleteHover text-white;
	}

	.dropdown-button {
		@apply w-full h-12 p-4 bg-bgInput border border-bgInputBorder text-textPrimary rounded flex items-center text-heading-s-variant justify-between;
	}

	.dropdown-menu {
		@apply absolute mt-1 w-full bg-bgInput border border-bgInputBorder rounded-lg shadow-dropdown;
	}

	.dropdown-option {
		@apply cursor-pointer text-heading-s-variant border-b border-bgInputBorder text-textSecondary pl-6 py-4 flex items-center;
	}

	.dropdown-option:last-child {
		@apply border-none;
	}

	.invoice-item-id {
		@apply text-textPrimary text-heading-s-variant
	}

	.invoice-item-id span {
		@apply text-blueGrayish
	}
}

/* Scrollbar styles */

::-webkit-scrollbar {
	width: 10px;
	height: 10%;
	background: var(--bgMain, #f0f0f0); /* Fallback color */
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: var(--bgMain, #f0f0f0); /* Fallback color */
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 5px;
	background: var(--bgFormScroll, #c0c0c0); /* Fallback color */
}

/* Hides Spin Button */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
